
body {
  font-family: 'Roboto', sans-serif;
  background: #212121;
  color: #f5f5f5;
  position: relative;
}

h1 {
  font-size: 48px;
  margin-bottom: 5vh;
  width: 100%;
  text-align: center;
}

h2 {
  width: 50%;
  margin-left: 25%;
}

.info button:hover {
  cursor: pointer;
}

p {
  width: 50%;
  margin-left: 25%;
}

input {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  border: none;
  margin: 0px 5px;
}

input[type="file"] {
  height: 32px;
  width: 140px;
  border-radius: 5px;
  font-size: 24px;
  padding: 4px 10px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* upload drop CSS */

#drop-area {
  padding: 40px 15px;
  margin: 10px calc(25vw);
  outline: 2px dashed #829ab1;
  outline-offset: -10px;
  /* background-color: #334e68;*/
  background-color: #3b3b3b;
  text-align: center;
}

#drop-area.is-dragover {
  background-color: #626262;
}

.upload-icon {
  width: 100%;
  height: 80px;
  /* fill: #92b0b3; */
  fill: #9fb3cb;
  display: block;
}

.upload-label {
  font-weight: 700;
  /* color: #e5edf1; */
  color: #f5f5f5;
  /* background-color: #627d9b; */
  background-color: #486581;
  padding: 8px 16px;
  margin: 40px auto 0;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  font-size: 20px;
}

.upload-label:hover, .upload-label:focus {
  background-color: #243b53;
}

#upload-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-text {
  text-align: center; 
  font-size:25px;
  margin: 30px 20px;
}

input[type="text"] {
  width: 75%;
  height: 32px;
  margin: 5px;
  vertical-align: bottom;
}

/* filter CSS */

.clear-button {
  width: 27px;
  height: 34px;
  margin: 5px;
  padding-left: 6px;
}

label {
  font-size: 24px;
  white-space: pre;
}

#filters .button {
  height: 32px;
  margin-left: 0;
  width: 100%;
  border-radius: 5px;
  font-size: 24px;
  padding: 4px 10px;
  border: none;
  margin: 20px 40px 20px 0px;
}

.half-button {
  height: 32px;
  margin-left: 0;
  width: 48%;
  border-radius: 5px;
  font-size: 24px;
  padding: 4px 10px;
  border: none;
  margin: 0px !important;
}

#select-filters {
  border: 2px solid black;
  padding: 10px;
}

#filters {
  position: fixed;
  right: calc(75vw);
  display: none;
  width: 320px;
  top: 15vh;
}

/* tables CSS */

#chances, .piece-table {
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;
  /* width: 50%; */
  /* margin-left: calc(25vw); */
  font-size: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #303030;
}

.hiddenTables {
  display: none;
}

.errorMessage {
  display: none;
  margin-top: 40px;
  width: 100%;
  font-size: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#chances td, #chances th, .piece-table td, .piece-table th {
  border: 1px solid #ddd;
  padding: 8px;
  white-space: pre;
}


/* .piece-table tr:nth-child(even)  {
  background-color: #f2f2f2;
  color: #343a40;
}*/

#chances th, .piece-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #486581;
  color: #f5f5f5;
}

/*  Bootstrap table CSS */

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}

/* Custom Table CSS */
#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

/*  Bootstrap table 2 CSS */

#dataTable {
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left: calc(25vw);
  /*font-size: 28px;*/
}

/* Tabs CSS */

.tabs {
  overflow: hidden;
  /*border: 1px solid #ccc;
  background-color: #5e5b5b;*/

  list-style-type: none; 
  margin: 30px 0 0 0;
  padding: 0 0 0.3em 0;
  width: 100%;
  text-align: center;
}

/* Style the buttons inside the tab */
.tabs button {
  background-color: #3b3b3b;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border: 1px solid #ccc;
  color: #f5f5f5;

  /* display: inline; 
  color: #42454a; 
  background-color: #dedbde; 
  border: 1px solid #c9c3ba;
  border-bottom: none; 
  padding: 0.3em; 
  text-decoration: none;*/
}

/* Change background color of buttons on hover */
.tabs button:hover {
  background-color: #334e68;
}

/* Create an active/current tablink class */
.tabs button.active {
  background-color:#486581;
}

/* Style the tab content */
.tabcontent {
  display: none;
  /* padding: 6px 12px; */
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

#tabCredits {
  margin-top: 40px;
  width: 100%;
  font-size: 20px;
  padding-bottom: 20px;
  text-align: center;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
/*
.tabs { list-style-type: none; margin: 30px 0 0 0; padding: 0 0 0.3em 0; }
.tabs button { display: inline; color: #42454a; background-color: #dedbde; border: 1px solid #c9c3ba; border-bottom: none; padding: 0.3em; text-decoration: none; }
.tabs button:hover { background-color: #f1f0ee; }
.tabs button.active { color: #000; background-color: #f1f0ee; font-weight: bold; padding: 0.7em 0.3em 0.38em 0.3em; }
.tabcontent { border: 1px solid #c9c3ba; padding: 0.5em; background-color: #f1f0ee; }
*/

/* Select dropdown CSS */

*, *:after, *:before {
  box-sizing: border-box;
}


.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

.custom-select {
  display: flex;
  flex-direction: column;
  border-width: 0 2px 0 2px;
  border-style: solid;
  /* border-color: #394a6d; */
  border-color: #7e7e7e;
}

.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  font-size: 20px;
  font-weight: 300;
  height: 60px;
  line-height: 60px;
  /* color: #3b3b3b;
  background: #f5f5f5; */
  color: #f5f5f5;
  /* background: #486581; */
  background: #3b3b3b;
  cursor: pointer;
  border-width: 2px 0 2px 0;
  border-style: solid;
  /* border-color: #394a6d; */
  border-color: #7e7e7e;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  /* border: 2px solid #394a6d; */
  border: 2px solid #7e7e7e;
  border-top: 0;
  /* background: #fff; */
  /* background: #486581; */
  background: #3b3b3b;
  color: #f5f5f5;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  position: relative;
  display: block;
  padding: 0 22px 0 22px;
  font-size: 22px;
  font-weight: 300;
  /* color: #3b3b3b; */
  color: #f5f5f5;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.5s;
}

.custom-option:hover {
  cursor: pointer;
  /* background-color: #b2b2b2; */
  /* background-color: #334e68; */
  background-color: #515151;
}

.custom-option.selected {
  color: #f5f5f5;
  /* background-color: #305c91; */
  /* background-color: #243b53; */
  background-color: #262626;
}

.custom-select-label {
  margin: 20px 0px;
  text-align: center;
  font-size: 20px;
}

/* arrow dropdown */

.arrow {
  position: relative;
  height: 15px;
  width: 15px;
}
.arrow::before, .arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: -5px;
  transform: rotate(45deg);
  /* background-color: #394a6d; */
  background-color: #f5f5f5;
}
.arrow::after {
  left: 5px;
  transform: rotate(-45deg);
  /* background-color: #394a6d; */
  background-color: #f5f5f5;
}
.open .arrow::before {
  left: -5px;
  transform: rotate(-45deg);
}
.open .arrow::after {
  left: 5px;
  transform: rotate(45deg);
}

